<h1>Log In</h1>

<form action="<%= session_url %>" method="post">
  <%= render_auth_token %>
  <label for="username">Username:</label>
  <input id="username" type="text" name="user[username]">
  <br>
  <label for="password">Password:</label>
  <input id="password" type="password" name="user[password]">
  <br>
  <button>Login</button>
</form>

<br>
<%= button_to "Sign Up", new_user_url, method: :get %>
