<h1>Goals</h1>

<ul>
  <% @goals.each do |goal| %>
    <li><a href="<%= goal_url(goal) %>"><%= goal.title %></a></li>
  <% end %>
</ul>

<%= link_to "Create a Goal", new_goal_url %>

<%= link_to "Go to my Goals", user_url(current_user) %>
